<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<img ng-src="{{images/logo.png}}"class="logo">
<div data-ng-app="codeApp">
<div data-ng-controller="usersCtrl">
<h1>Create Account</h1>
<form name='newUser'>
      <p><label for="first-name">First Name</label>
        <input id="first-name" name="first-name" type="text" data-ng-model="newUser.firstName" placeholder="First Name"></p>

      <p><label for="last-name">Last Name</label>
        <input id="last-name" name="last-name" type="text" data-ng-model="newUser.lastName" placeholder="Last Name"></p>

      <p><label for="email">Email (username)</label>
        <input id="email" name="email" type="text" data-ng-model="newUser.email" placeholder="Email"></p>

      <p><label for="password">Create Password</label>
        <input id="password" name="password" type="password" data-ng-model="newUser.password" placeholder="Create Password"></p>

      <p><label for="password-confirm">Confirm Password</label>
        <input id="password-confirm" name="password-confirm" type="text" data-ng-model="newUser.confirm" placeholder="Confirm Password"></p>
<button data-ng-click='newUser()'>Create User</button></br>
</form>
<!--<ul data-ng-repeat="note in notes">
<li>
<div data-ng-hide="note.editing">
<a href data-ng-click="note.editing = true">Edit</a>
<a href data-ng-click="note.confirmDelete = true" data-ng-hide="note.confirmDelete">Delete</a>
<div data-ng-show="note.confirmDelete">
<a href data-ng-click="note.confirmDelete = false">Cancel</a>
<a href data-ng-click="deleteNote(note)">Confirm</a>
</div>
</div>
<div data-ng-show="note.editing">
<input type="text" data-ng-model="note.noteBody">
<button data-ng-click="note.editing = false">Save</button>
</div>
</li>
</ul>
</div>
</div>
<script src="angular.js"></script>
<script src="notes.js"></script>
<script src="notes_ctrl.js"></script>-->

</body>
</html>